/*
.detail-card {
    width: 100%;
    max-width: 800px; /* Ajusta según sea necesario */ /*
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.detail-card-img {
    width: 100%;
    height: 400px; /*
    object-fit: cover; /*
} 

.detail-card-body {
    padding: 20px;
    text-align: center;
}

.detail-card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.detail-card-text {
    font-size: 1rem;
    line-height: 1.6;
}; */